@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

#messages::-webkit-scrollbar {
  width: 8px;
}

#messages::-webkit-scrollbar-track {
  background: #ebdbb2; /* Gruvbox light bg1 */
}

#messages::-webkit-scrollbar-thumb {
  background-color: #d5c4a1; /* Gruvbox light bg3 */
  border-radius: 4px;
}

.message-sent {
  align-self: flex-end;
  background-color: #458588; /* Gruvbox blue */
  color: #fbf1c7;
}

.message-received {
  align-self: flex-start;
  background-color: #928374; /* Gruvbox gray */
  color: #fbf1c7;
}

.admin-message {
  background-color: #9d0006; /* Gruvbox red */
}
