* {
  padding: 0;
  margin: 0;
}

body {
  background-color:rgb(0, 18, 7);
}

.body {
  text-align: center;
}
.title {
  color: greenyellow;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  padding: 4vh;
}

canvas{
  border: 1px solid goldenrod;
  background-color: rgb(61, 1, 20);
  image-rendering: pixelated;
}
